In [1]:
import ccxt
import datetime
import pandas as pd

binance = ccxt.binance()

In [2]:
symbol = 'BTC/USDT' # 幣別
timeframe = '1h' # 時間區間
start_time = '2018-01-01 00:00:00' # 開始時間
end_time = '2018-01-03 23:59:59' # 結束時間

start_time = datetime.datetime.strptime(start_time, '%Y-%m-%d %H:%M:%S')
end_time = datetime.datetime.strptime(end_time, '%Y-%m-%d %H:%M:%S')

start_time = int(start_time.timestamp() * 1000)
end_time = int(end_time.timestamp() * 1000)

for t in range(start_time, end_time, 2000 * 60 * 60):
    ohlcv = binance.fetch_ohlcv(symbol, timeframe, t, 2000)
    df = pd.DataFrame(ohlcv, columns=['time', 'open', 'high', 'low', 'close', 'volume'])
    df['time'] = pd.to_datetime(df['time'], unit='ms')
    df.to_csv('data.csv', mode='a', header=False, index=False)

df = pd.read_csv('data.csv', names=['time', 'open', 'high', 'low', 'close', 'volume'])

df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time')
df = df.sort_index()

df

                         open      high       low     close       volume
time
2017-12-31 16:00:00  13226.16  14030.00  13192.02  13836.00  1148.208218
2017-12-31 17:00:00  13831.01  13924.60  13641.01  13762.99   693.805942
2017-12-31 18:00:00  13776.02  13950.00  13700.00  13737.10   345.192495
2017-12-31 18:00:00  13776.02  13950.00  13700.00  13737.10   345.192495
2017-12-31 19:00:00  13745.00  13875.00  13700.00  13780.16   278.041542
...                       ...       ...       ...       ...          ...
2018-02-15 12:00:00   9560.01   9720.00   9560.01   9675.24  1720.688536
2018-02-15 13:00:00   9679.96   9698.00   9600.00   9638.76  1254.546146
2018-02-15 13:00:00   9679.96   9698.00   9600.00   9638.76  1254.546146
2018-02-15 14:00:00   9638.76   9849.98   9638.18   9829.00  2014.859595
2018-02-15 15:00:00   9836.00   9856.61   9740.00   9811.01  1559.283691

[36000 rows x 5 columns]